@model Cosmetic.Models.HoaDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CachThanhToan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CachThanhToan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CachVanChuyen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CachVanChuyen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhiVanChuyen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhiVanChuyen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenNgNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNgNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtngNhan)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.MaOnline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtngNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNgNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChiNgNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaKhNavigation.MaKh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaNvNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNvNavigation.MaNv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTrangThaiNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTrangThaiNavigation.MaTrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
