@model Cosmetic.Models.ThuongHieu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThuongHieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHieu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenHieu)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaHieuNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaHieuNavigation.MaHieu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHieu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
